@media only screen and (max-width: 1000px) {
    .body{
        margin-left: 50px;
        margin-right: 50px;
    }
    
}

.location-info{
    margin-top: 70px;
}

.seasonal{
    margin-top: 40px;
}

.calendar{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.upcoming-events{
    margin-top: 50px;
}